@model dynamic
@{
    ViewBag.Title = "Pizza Users";
}

<h2>All Pizza Users</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
            {
                <tr>
                    <th scope="row">@user.id</th>
                    <td>@user.Name</td>
                    <td>@user.Gender</td>
                    <td>@user.email</td>
                    <td>@user.Zipcode</td>
                </tr>
            } 
    </tbody>
</table>

